@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-Regular.woff2)
    format('woff2');
}
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-Italic.woff2)
    format('woff2');
}
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-Bold.woff2)
    format('woff2');
}
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-BoldItalic.woff2)
    format('woff2');
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #333;
  margin: 0;
  padding: 0 1em;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 a {
  color: inherit;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.credits {
  text-align: right;
}

/* Add line-numbers and adjust font-size */
code {
  font-size: 1.1em;
  counter-reset: step;
  counter-increment: step 0;

  & .line::before {
    content: counter(step);
    counter-increment: step;
    width: 1rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
    color: rgba(115, 138, 148, 0.6);
  }

  & .line:last-child::before {
    content: none;
  }
}

.high,
.awdty-line-pass,
.awdty-line-indirect-pass-current,
.awdty-line-indirect-pass-external {
  background: rgb(60, 179, 113, 0.3);
}

.medium,
.awdty-line-ignore,
.awdty-line-indirect-ignore-current,
.awdty-line-indirect-ignore-external {
  background: rgba(255, 165, 0, 0.3);
}

.low,
.awdty-line-fail,
.awdty-line-indirect-fail-current,
.awdty-line-indirect-fail-external {
  background: rgba(255, 0, 0, 0.3);
}
