---
layout: base.njk
pagination:
  data: groupedFilesByDir
  size: 1
  alias: dir
permalink: "/{{ dir }}/"
---

<h2><code>{{ dir }}</code></h2>
{% include 'homeLink.njk' %}

<h3>Historical Design Token Propagation</h3>

{% set totalPropagation =  groupedFilesByDir[dir].averagePropagation | ignoreFilter %}

{% if groupedFilesByDir[dir].averagePropagation != -1 %}
<div class="chart-container">
  <canvas id="propagationChart" width="800" height="400"></canvas>
<div>
{% else %}
<p><em>No data to display</em></p>
{% endif %}

<p>
  <strong>Current Average Propagation:</strong> <span class="{{ totalPropagation | rangeClass }}">{{ totalPropagation }}</span>
</p>


<ul>
  {% for file in groupedFilesByDir[dir].files %}
    {% set filePropagation =  file.propagationData.percentage | ignoreFilter %}
    <li>
      <a href="/{{ file.fileURI }}">{{ file.fileName }}</a>
      <span class="{{ filePropagation | rangeClass }}">{{ filePropagation }}</span>
    </li>
  {% endfor %}
</ul>

{% block scripts %}
<script type="module" src="/js/render-graph.js"></script>
{% endblock %}
