---
pagination:
  data: cssFilesList
  size: 1
  alias: file
permalink: "/{{ file.fileURI }}/"
layout: filesLayout.njk

---

<h1><a href="/{{ file.dirURI }}">{{ file.dirURI }}</a>/{{ file.fileName }}</h1>
{% set totalPropagation = file.propagationData.percentage %}
<p><strong>Propagation:</strong> <span class="{{ totalPropagation | rangeClass }}">{{ totalPropagation }}%</span></p>

{% include 'homeLink.njk' %}

{% if file.absolutePath %}
  {% loadAndAnnotateFile file.absolutePath, file.propagationData.foundPropValues %}
{% else %}
  <p>No file content available.</p>
{% endif %}

{% include 'homeLink.njk' %}


