---
pagination:
  data: cssFilesList
  size: 1
  alias: file
permalink: "/{{ file.relativePath }}/"
layout: base.njk

---

<h1><a href="/{{ file.directory }}">{{ file.directory }}</a>/{{ file.fileName }}</h1>
{% set totalPropagation = file.propagationData.percentage %}
<p><strong>Propagation:</strong> <span class="{{ totalPropagation | rangeClass }}">{{ totalPropagation }}%</span></p>

{% include 'homeLink.njk' %}

{% if file.absolutePath %}
<pre class="line-numbers language-css"><code>
{% loadAndAnnotateFile file.absolutePath, file.propagationData.foundPropValues %}
</code></pre>
{% else %}
  <p>No file content available.</p>
{% endif %}

{% include 'homeLink.njk' %}
