---
layout: homeLayout.njk
title: "Are we Design Tokens yet?"
---

<h1>{{ title }}</h1>

<p>This site’s goal is to track how design tokens are making their way into our stylesheets. It grabs CSS files from a set of predetermined paths, then scans for <a href="/properties/">CSS properties</a> that should (ideally) be backed by a token.</p>

<p>Some values—like <code>unset</code>, <code>inherit</code>, and friends get a free pass and don’t count toward the stats. Same goes for files that don’t have any relevant properties: they’re left out of the calculation.</p>

<p>You can <a target="_blank" href="https://github.com/FirefoxUX/arewedesigntokensyet/?tab=readme-ov-file#how-it-works">read more about how this site works here</a></p>


<h2>Design Token Propagation</h2>

<div class="chart-container">
  <canvas id="propagationChart" width="800" height="400"></canvas>
<div>

<h2>Explore Paths</h2>

<p>Please note: The percentages reflect propagation without taking into account the size of the files involved.</p>

<p><strong>Average Propagation: <span class="{{ totals.totalAveragePropagation | rangeClass }}">{{ totals.totalAveragePropagation }}%</span></strong></p>

<ul>
{% for dir, details in groupedFilesByDir %}
  {% set propagation = details.averagePropagation | ignoreFilter %}
  <li><a href="/{{ dir }}/"><code>{{ dir }}</code></a> <span class="{{ propagation | rangeClass }} percentage">{{ propagation }}</span></li>
{% endfor %}
</ul>
