---
title: "Tokenizable CSS Properties List"
permalink: "/properties/"
layout: base.njk
eleventyNavigation:
  key: Properties
  order: 4
---

<h2>{{ title }}</h2>
<p>This is the list of design tokens that we look at and expect to be tokenized</p>

{% include 'homeLink.njk' %}

<section class="properties">
  <h3>Properties List</h3>
  <ul>
  {% for prop in propList %}
    <li><code>{{ prop }}</code></li>
  {% endfor %}
  </ul>
</section>
