<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="content">
    {{ content | safe }}
    </div>
    <footer>
      <p class="credits">Site built by the 🌰 Acorn Design Systems Team at <a href="https://www.mozilla.org/">Mozilla</a></p>
    </footer>

    {% block scripts %}{% endblock %}
  </body>
</html>


